<div data-dial-init class="fixed z-50 end-6 bottom-6 group">
    <div id="speed-dial-menu-default" class="flex flex-col items-center hidden mb-4 space-y-2">
        <button type="button" (click)="changeTheme()" data-tooltip-target="tooltip-share" data-tooltip-placement="left" class="theme-btn">
            <i class="fa-solid text-xl" [class]="{
              'fa-sun':isDark(),
              'fa-moon':!isDark(),
            }"></i>
            <span class="sr-only">theme</span>
        </button>
        <div id="tooltip-share" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
            {{ isDark() ? 'Light' : 'Dark' }}
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

    </div>
    <button type="button" data-dial-toggle="speed-dial-menu-default" aria-controls="speed-dial-menu-default" aria-expanded="false" class="flex items-center justify-center text-white bg-main rounded-full w-14 h-14 hover:bg-main/80 dark:bg-gray-800 dark:hover:bg-gray-700">
        <svg class="w-5 h-5 transition-transform group-hover:rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
        <span class="sr-only">Open actions menu</span>
    </button>
</div>
